@charset "utf-8";
/* CSS Document */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
}
h1 { color:rgba(255,255,255,.2); font-size:50px; line-height:50px;}

ul { list-style: none; }

.pagination {
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  right: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0;
  margin-top: -151px;
}
@media (min-width:360px) {
.pagination {right: 8px;}
}
@media (min-width:640px) {
.pagination {right: 18px;}
}
@media (min-width:768px) {
.pagination {right: 28px;}
}
.pagination a {
	display: block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	width: 150px;
}

.pagination a>.circle{
	width: 26px;
	height: 26px;
	border: rgba(255,255,255,0) 1px solid;
	display: block;
	border-radius: 100%;	
	float: right;
	margin: 0 12px;
	-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;
}
.pagination a.active>.circle{
	border: rgba(255,255,255,1) 1px solid;	
}
.pagination a>.circle>.dot{
	width: 4px;
	height: 4px;
	margin: 10px;
	display: block;
	border: rgba(255,255,255,0.5) 1px solid;
	border-radius: 100%;
	-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;
}
.pagination a.active>.circle>.dot{
	border: rgba(255,255,255,1) 1px solid;
}

.pagination a>.menu{
	font-size: 11px;
	text-transform: uppercase;
	font-family: 'Muli', sans-serif;
	display: none;
	color: rgba(255,255,255,0.5);
	text-align: right;
	position: absolute;
	top: 7px;
	right: 60px;
	-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;
}
@media (min-width:768px) {
.pagination a>.menu{
	display: block;
}
}
.pagination a.active>.menu{
	color: rgba(255,255,255,1);
}
.pagination .dot-line{
	background: url(../img/dot-line.gif) 123px 0 repeat-y;
	width: 100%;
	height: 27px;
	display: block;
	opacity: 0.5;
}
.play {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 100px;
  background-color: rgb(178, 79, 65);
  color: #fff;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

.play:hover { background-color: rgb(189, 80, 66); }

.play:active { background-color: rgb(141, 60, 50); }

.goto {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 100px;
  background-color: rgb(47, 95, 178);
  color: #fff;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

.goto:hover { background-color: rgb(57, 123, 219); }

.goto:active { background-color: rgb(31, 79, 134); }
.body-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.body-inner .vignette {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.body-inner .vignette {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=1 );
	opacity: .5;
	transition: opacity 4s cubic-bezier(.19, 1, .22, 1) .5s;
	-webkit-transition: opacity 4s cubic-bezier(.19, 1, .22, 1) .5s
}
.logo-box{width: 100px; height: 100px; top: 15px; left: 15px; background-color: #FFF; display: block; position:fixed; z-index: 52; cursor: pointer;}
.logo-box>img{margin: 20px 0; width: 60px;}

@media (min-width:360px) {
.logo-box{width: 110px; height: 110px; top: 20px; left: 20px;}
.logo-box>img{margin: 25px 0; width: 62px;}	
}
@media (min-width:480px) {
.logo-box{width: 120px; height: 120px;}
.logo-box>img{margin: 30px 0;}	
}
@media (min-width:640px) {
.logo-box{width: 140px; height: 140px; top: 30px; left: 30px;}
.logo-box>img{margin: 49px 0; width: 64px;}	
}
@media (min-width:768px) {
.logo-box{width: 160px; height: 160px; top: 40px; left: 40px;}
.logo-box>img{margin: 50px 0; width: 64px;}	
}

.prev-page, .next-page {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position:fixed;
  z-index: 9999;
	background-color: rgba(255,255,255,1.00);
  font-size: 14px;
  color: rgba(0,0,0,0.8);
  text-align: center;
	cursor: pointer;
	-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;
}
.prev-page.disabled, .next-page.disabled {
	cursor: none;
	background-color: rgba(255,255,255,0.3);
	color: rgba(0,0,0,0.3);
}
.prev-page{bottom:70px; left: 15px;} 
.next-page{bottom:50px; left: 60px;}
@media (min-width:360px) {
.prev-page, .next-page{width: 50px;height: 50px;line-height: 50px;}	
.prev-page{bottom:75px; left: 20px;} 
.next-page{bottom:50px; left: 75px;}
}
@media (min-width:480px) {
.prev-page, .next-page{width: 60px;height: 60px;line-height: 60px;font-size: 15px;}	
.prev-page{bottom:80px; left: 20px;} 
.next-page{bottom:50px; left: 90px;}
}
@media (min-width:640px) {
.prev-page{bottom:60px; left: 60px;} 
.next-page{bottom:30px; left: 130px;}
}
@media (min-width:768px) {
.prev-page, .next-page{width: 70px; height: 70px;line-height: 70px; font-size: 16px;}		
.prev-page{bottom:70px; left: 105px;} 
.next-page{bottom:35px; left: 190px;}
}
@media (min-width:1024px) {
.prev-page, .next-page{width: 80px; height: 80px;line-height: 80px; font-size: 18px;}		
.prev-page{bottom:80px; left: 120px;} 
.next-page{bottom:40px; left: 220px;}
}

.slidePage-container p{margin: 0; padding: 0;}

.item{display: table;}
.main-text{padding: 0 50px 0 25px; text-align: left; color: #FFF; vertical-align: middle; display: table-cell;}
.about-text{padding: 0 50px 0 25px; text-align: left; color: #FFF; vertical-align: middle; display: table-cell;}
.team-text{padding: 0 50px 0 25px; text-align: left; color: #FFF; vertical-align: middle; display: table-cell;}
.partner-text{padding: 0 50px 0 25px; text-align: left; color: #FFF; vertical-align: middle; display: table-cell;}
.contact-text{padding: 0 50px 0 25px; text-align: left; color: #FFF; vertical-align: middle; display: table-cell;}

@media (min-width:360px) {
.main-text,.about-text,.team-text,.partner-text,.contact-text{padding: 0 50px 0 30px;}
}
@media (min-width:480px) {
.main-text,.about-text,.team-text,.partner-text,.contact-text{padding: 0 60px 0 40px;}
}
@media (min-width:640px) {
.main-text,.about-text,.team-text,.partner-text,.contact-text{padding: 0 80px 0 50px;}
}
@media (min-width:768px) {
.main-text,.about-text,.team-text,.partner-text,.contact-text{padding: 0 180px 0 80px;}
}
@media (min-width:1024px) {
.main-text,.about-text,.team-text,.partner-text,.contact-text{padding: 0 190px 0 90px;}
}
@media (min-width:1152px) {
.main-text,.about-text,.team-text,.partner-text,.contact-text{padding: 0 20%;}
}
h2.title{font-size: 26px; display: block; padding: 0; margin: 0;}
.sub-txt{font-size: 14px; font-weight: 200; font-family: 'Muli', sans-serif; display: block; padding-top: 5px;}
.sub-txt br{display: none;}

@media (min-width:360px) {
h2.title{font-size: 30px;}
.sub-txt{padding-top: 10px;}
}

@media (min-width:480px) {
h2.title{font-size: 42px;}
.sub-txt{font-size: 15px; padding-top: 15px;}
}
@media (min-width:640px) {
h2.title{font-size: 50px;}
}
@media (min-width:768px) {
h2.title{font-size: 52px;}
.sub-txt{font-size: 15px; padding-top: 20px;}
}
@media (min-width:1024px) {
h2.title{font-size: 56px;}
.sub-txt{font-size: 16px;}
.sub-txt br{display: block;}
}

.email{font-family: 'Muli', sans-serif;  width: auto; display: block; padding: 10px 0;}
.email a{font-size:20px; color: #FFF; text-decoration: none; font-weight: 200;}
.address{font-size: 13px; font-weight: 200; font-family: 'Muli', sans-serif; display: block; padding: 5px 0;}
.address strong{font-size: 16px; font-weight:normal; padding-bottom: 5px; display: block;}
@media (min-width:480px) {
.email{font-size:22px;}
.address strong{font-size: 18px;}
}
@media (min-width:640px) {
.email{padding: 20px 0;}
.address{padding: 10px 0; font-size: 14px;}
.address strong{padding-bottom: 10px;}
}
.item .btn{display: inline-block; font-size: 11px; font-weight:400; padding: 7px 15px; background-color: #FFF; color: #000; border: none; font-family: 'Muli', sans-serif; text-transform: uppercase; border-radius: 15px; margin-top: 10px; float: left; cursor: pointer; outline: 0;}
@media (min-width:360px) {
.item .btn{margin-top: 20px;}
}
@media (min-width:640px) {
.item .btn{margin-top: 30px; font-size: 12px; padding: 10px 20px; border-radius: 17px;}
}
@media (min-width:768px) {
.item .btn{margin-top: 40px; font-size: 13px; padding: 15px 25px; border-radius: 23px;}
}
.scroll-down {
  display: none;
  position: absolute;
  padding-top: 79px;
  text-align: center;
	bottom: 0;
	left: 50%;
}
@media (min-width:768px) {
.scroll-down {
  display: block;
}
}
.scroll-down::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */
  -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: 0;
  width: 1px;
  height: 90px;
  background: rgba(255,255,255,0.5);
  content: ' ';
}
.scroll-title {
  display: block;
  text-transform: uppercase;
  color: #FFF;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  font-weight: 300;
	margin: 15px 0;
}
@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

.copyright{font-size: 10px; color:rgba(255,255,255,0.5); font-family: 'Muli', sans-serif; text-transform: uppercase; position: fixed; bottom:0; right: 0; padding:15px; text-align: right; width: auto;}
.copyright br{display: block;}
@media (min-width:360px) {
.copyright{padding:20px;}
}
@media (min-width:480px) {
.copyright{font-size: 11px;}
.copyright br{display: none;}
}
@media (min-width:640px) {
.copyright{padding:30px; }
}
@media (min-width:768px) {
.copyright{padding:40px;}
}

.detail{width:100%; height: 100%; display: block; position: fixed; left: 0; bottom: -100%; background-color:#FFF; z-index:50; -webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}
.detail.active{bottom: 0;}

.btn-close{width: 40px; height: 40px; display: block; background: url(../img/close.png) no-repeat; border: none; z-index:50; position: absolute; top: 40px; right: 40px; cursor: pointer; outline:0;}


.loader-box{width: 100%; height: 100%; background-color: #FFF; position: absolute; top: 0; left: 0; z-index: 55;}

.loading {
  width:110px;
  height:110px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-55px;
  margin-left:-55px;
}

.loading .block {
  width:30px;
  height:30px;
  position:absolute;
}

.loading .block:nth-child(1) {
  top:0;
  left:0;
  right:auto;
  bottom:auto;
	-webkit-animation: square1 3s infinite;
  background-color:#2c3280 ;
	z-index: 2;
}

.loading .block:nth-child(2) {
  top:0;
  left:40px;
  right:auto;
  bottom:auto;
	-webkit-animation: square2 3s infinite;
  background-color:#2c3280 ;
	z-index: 2;
}

.loading .block:nth-child(3) {
  top:0;
  left:80px;
  right:auto;
  bottom:auto;
  -webkit-animation: square3 3s infinite;
  background-color:#67a547 ;
	z-index: 1;
}

.loading .block:nth-child(4) {
  top:40px;
  left:40px;
  right:auto;
  bottom:auto;
  -webkit-animation: square4 3s infinite;
  background-color:#67a547 ;
	z-index: 1;
}
.loading .block:nth-child(5) {
  top:40px;
  left:80px;
  right:auto;
  bottom:auto;
	-webkit-animation: square5 3s infinite;
  background-color:#2c3280 ;
	z-index: 2;
}
.loading .block:nth-child(6) {
  top:80px;
  left:80px;
  right:auto;
  bottom:auto;
  -webkit-animation: square6 3s infinite;
  background-color:#67a547 ;
	z-index: 1;
}
@-webkit-keyframes square3 {
  0%  { left: 80px; top: 0; }
  20% { left: 40px; top: 40px; }
  40% { left: 80px; top: 80px;}
  60% { left: 80px; top: 0;}
  80%  { left: 40px; top: 40px;  }
	100% { left: 80px; top: 80px; }
}

@-webkit-keyframes square4 {
  0%  { left: 40px; top: 40px; }
  20% { left: 80px; top: 80px; }
  40% { left: 80px; top: 0;}
  60% { left: 40px; top: 40px;}
  80%  { left: 80px; top: 80px;  }
	100% { left: 80px; top: 0; }
}
@-webkit-keyframes square6 {
  0%  { left: 80px; top: 80px; }
  20% { left: 80px; top: 0; }
  40% { left: 40px; top: 40px;}
  60% { left: 80px; top: 80px;}
  80%  { left: 80px; top: 0;  }
	100% { left: 40px; top: 40px; }
}
.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide.caver{background: #36ab4a;}
.swiper-slide.gpu{background: #333;}
.swiper-slide.fintech{background: #8c2232;}
.swiper-slide.winbit{background: #34314c;}

.swiper-pagination-bullet{background-color: rgba(255,255,255,0); width: 10px; height: 10px; border:#FFF 1px solid; opacity: 0.5;}
.swiper-pagination-bullet-active{background-color: rgba(255,255,255,0); width: 10px; height: 10px; border:#FFF 1px solid; opacity: 1;}
.swiper-container-horizontal>.swiper-pagination-bullets{bottom: 40px;}
.swiper-button-prev{left: 40px; width: 20px; height: 40px; margin-top: -20px; background: url(../img/btn-prev.png) no-repeat;}
.swiper-button-next{right: 40px; width: 20px; height: 40px; margin-top: -20px; background: url(../img/btn-next.png) no-repeat;}
